{% extends 'index.html' %}
{% block body %}


<div style="margin-top: 100px;" class="contact">
    <h2 style="text-align: center;color:red">Videos for children</h2>
    <div class="container">
        <ul type="circle">
   <li> <h3>Common infections in kids and how to cure them</h3></li>
    <div style="text-align: center;" class="video">
    <video width="620" height="360" controls>
      <source src="../static/video/1.mp4">
    </video>
    </div>
    <p>Between the ages of 2.5 to 3 up to the age of 6 or 7, children are exposed multiple viral infections and they do fall ill often, especially in the first 6 months after starting school, we find parents making numerous visits to their paediatricians. Majority of these are simple viral infections due to exposure to other children and they are easily taken care of by simple home measures such as paracetamol, warm liquids, some steaming and gargling. They do not require any antibiotics or any other medication. This is how a child develops his immune system by exposure to multiple viruses and this is normal part of growing up. Hence it is OK for parents to wait at home for 48 hours by providing paracetamol for the fever and not panic. This is one way a child's immune system is boosted. Of course, if there is a specific immune or vitamin deficiency, then accordingly medications will be prescribed.</p>
    <li><h3>Do thumb sucking damage your teeth?</h3></li>
    <div style="text-align: center;" class="video">
    <video width="620" height="360" controls>
      <source src="../static/video/2.mp4">
    </video>
    </div>
    <p>Active thumb sucking with a lot of motion can cause damage to primary (baby) teeth, though this usually corrects itself as the permanent teeth come in. Persistent, vigorous thumb sucking can sometimes cause misalignment of your child's permanent teeth and affect the jaw or the shape and roof of the mouth.</p>
</ul>
</div>
</div>
</div>
    {% endblock %}